/*{
    width: 20vw;
}
body{ 
    border: 5px solid black;
    width: 20%;
    
    margin-left: 35%;
    background-color: azure;
}
.red{
    background-color: black;
    color:aliceblue;
    width: 90px;
    height: 30px;
}
header{
    padding: 20px;
}
.green{
    background-color: rgb(232, 185, 225);
    color: aquamarine;
}*/
.red
{
    background-color: aqua;
    padding-left:10px ;
    Border-left : 3px solid blue;
}
.green{
    background-color: antiquewhite;
    padding-left: 10px;
    Border-left : 3px solid rgb(255, 0, 0);
}